summary_figures_Ecoli_calibrated/
summary_figures_AmpR_calibrated/
alignment/
old_tests_peak_calling/
peakCalling/
FastQCResults/
fig6_reproducibility.R
fig7_peakAnalysis_MACS2.R
fig7_peakAnalysis.R
output.log
fig3_sequencingDepth.R
fig4_duplicationRate.R
fig5_mappedFragmentSizeDistribution.R
.RData
.Rhistory
pipeline/._cut_and_tag_pipeline_example_v1.sh
pipeline/IgG_cell_lines_merge.sh
pipeline/merge_IgG.R
pipeline/merge_IgG.sh
pipeline/processing_previous.sh
pipeline/3_AssessAlignment/._3_DuplicateAssess.sh
pipeline/3_AssessAlignment/._3_DuplicateAssessSumary.R
pipeline/3_AssessAlignment/._3_FragAssessSumary.R
pipeline/3_AssessAlignment/._3_MappingSummary.R

